.card{
    position:absolute;
    width: 50%;
    height:50%;
    top: 50%; right: auto; bottom: auto; left: 50%;
    background-color: white;
    border-radius: 12px 12px 12px 12px;
    border-style: groove;
    border-color: black;
    border-width: 3px;
    padding: 16px 16px 16px 16px;
    margin-left: -25%; margin-top: -12.5%;
    box-shadow: 10px 10px 10px rgb(177, 174, 174);
}

.text{
    position: flex;
    top: 20%; left: 50%; 
    text-align: center;
}
